/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    background-color: black;
    color: white;
}

/* utility */

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

/* header */

header {
    height: 60px;
    padding-top: 5px;
}

.screen-view {
    justify-content: end;
    font-size: 11px;
    padding: 0 5px;
}

.speaker-view {
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    margin-right: 5px;
}

.fullscreen {
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
}

/* main */

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.webcam {
    margin: 0 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.webcam-card {
    height: 150px;
    width: 250px;
    position: relative;
    margin: 5px 2px;
}

.user-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(94, 107, 120, 0.5);
}

.info {
    padding: 5px;
}

img {
    display: block;
}

/* footer */

footer {
    height: 60px;
    background-color: #222222;
}

.footer-left {
    width: 25%;
}

.icons {
    padding: 0 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}

.icons i {
    font-size: 23px;
    padding-bottom: 5px;
}

footer .arrow {
    margin: 0 5px;
    line-height: 60px;
    font-size: 12px;
}    


.footer-center {
    width: 50%;
    justify-content: center;
}

.fa-share-from-square {
    color: #4bc800;
}
