/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    background-color: black;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

/* utility */

.flex {
    display: flex;
}

/* header */

header {
    height: 60px;
    padding-top: 5px;
}

.screen-view {
    justify-content: end;
    color: white;
    font-size: 11px;
}

.speaker-view {
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.fullscreen {
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    cursor: pointer;
}

/* main */

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.webcam {
    margin: 0 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.webcam-card {
    position: relative;
    margin: 5px 2px;
}

.user-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: rgba(94, 107, 120, 0.5);
}

.info {
    padding: 5px;
}

img {
    height: 150px;
    width: 250px;
    display: block;
}

footer {
    height: 60px;
    background-color: #222222;
}